<style>
    table, th, td {
      border: 2px solid black;
    }
    </style>
<h1>Meus Investimentos </h1>
<button><a href="{% url 'novo_investimento' %}">Criar investimento</a></button>
<table>
    <tr>
        <th>Id</th>
        <th>Investimento</th>
        <th>Valor</th>
    </tr>
    {% for dado in dados %}
    <tr >
        <td>{{dado.id}}</td>
        <td>{{dado.investimento}}</td>
        <td>{{dado.valor}}</td>
        <td><button><a href="{% url 'detalhe' dado.id %}">Detalhe</a></button></td>
        <td><button><a href="{% url 'editar' dado.id %}">Editar</a></button></td>
    </tr>
    {% endfor%}
</table>